In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [2]:
df = pd.read_csv("weather_madrid_LEMD_1997_2015.csv", low_memory=False)

In [3]:
df.head()

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,Mean Sea Level PressurehPa,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-1-1,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,1010,1008,1004,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
1,1997-1-2,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,1007,1003,997,10.0,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143
2,1997-1-3,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,1005,999,996,10.0,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256
3,1997-1-4,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,1012,1010,1005,10.0,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284
4,1997-1-5,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,1012,1008,1005,10.0,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2

In [4]:
df.dtypes

CET                             object
Max TemperatureC               float64
Mean TemperatureC              float64
Min TemperatureC               float64
Dew PointC                     float64
MeanDew PointC                 float64
Min DewpointC                  float64
Max Humidity                   float64
 Mean Humidity                 float64
 Min Humidity                  float64
 Max Sea Level PressurehPa       int64
 Mean Sea Level PressurehPa      int64
 Min Sea Level PressurehPa       int64
 Max VisibilityKm              float64
 Mean VisibilityKm             float64
 Min VisibilitykM              float64
 Max Wind SpeedKm/h              int64
 Mean Wind SpeedKm/h             int64
 Max Gust SpeedKm/h            float64
Precipitationmm                float64
 CloudCover                    float64
 Events                         object
WindDirDegrees                   int64
dtype: object

In [5]:
# change CET to date time format
df["CET"] = pd.to_datetime(df["CET"])
df = df.reset_index(drop=True)

In [6]:
df.columns = df.columns.str.strip()

In [7]:
df.columns

Index(['CET', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC',
       'Dew PointC', 'MeanDew PointC', 'Min DewpointC', 'Max Humidity',
       'Mean Humidity', 'Min Humidity', 'Max Sea Level PressurehPa',
       'Mean Sea Level PressurehPa', 'Min Sea Level PressurehPa',
       'Max VisibilityKm', 'Mean VisibilityKm', 'Min VisibilitykM',
       'Max Wind SpeedKm/h', 'Mean Wind SpeedKm/h', 'Max Gust SpeedKm/h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees'],
      dtype='object')

In [8]:
# Drop the columns we don't need
columns = ["Max Gust SpeedKm/h", "Precipitationmm", "Events", "WindDirDegrees"]
df = df.drop(columns = columns, axis=1)

In [9]:
df.head()

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,Mean Sea Level PressurehPa,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,CloudCover
0,1997-01-01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,1010,1008,1004,10.0,9.0,4.0,13,6,6.0
1,1997-01-02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,1007,1003,997,10.0,9.0,4.0,26,8,5.0
2,1997-01-03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,1005,999,996,10.0,10.0,7.0,27,19,6.0
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,1012,1010,1005,10.0,10.0,10.0,27,19,2.0
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,1012,1008,1005,10.0,5.0,1.0,14,6,7.0

In [10]:
df.dtypes

CET                           datetime64[ns]
Max TemperatureC                     float64
Mean TemperatureC                    float64
Min TemperatureC                     float64
Dew PointC                           float64
MeanDew PointC                       float64
Min DewpointC                        float64
Max Humidity                         float64
Mean Humidity                        float64
Min Humidity                         float64
Max Sea Level PressurehPa              int64
Mean Sea Level PressurehPa             int64
Min Sea Level PressurehPa              int64
Max VisibilityKm                     float64
Mean VisibilityKm                    float64
Min VisibilitykM                     float64
Max Wind SpeedKm/h                     int64
Mean Wind SpeedKm/h                    int64
CloudCover                           float64
dtype: object

In [11]:
df = df.rename(columns={"CET": "Date"})

In [12]:
df = df.dropna()
df = df.reset_index(drop=True)

In [13]:
df["Max Humidity"] = df["Max Humidity"]/100
df["Mean Humidity"] = df["Mean Humidity"]/100
df["Min Humidity"] = df["Min Humidity"]/100

In [14]:
df = df.astype({"Max TemperatureC" : "int",
                "Mean TemperatureC": "int", 
                "Min TemperatureC": "int", 
                "Dew PointC": "int", 
                "MeanDew PointC": "int", 
                "Min DewpointC": "int", 
                "Max Humidity": "int", 
                "Mean Humidity": "int", 
                "Min Humidity": "int", 
                "Max Sea Level PressurehPa": "int", 
                "Mean Sea Level PressurehPa": "int", 
                "Min Sea Level PressurehPa": "int", 
                "Max VisibilityKm": "int", 
                "Mean VisibilityKm": "int",
                "Min VisibilitykM": "int", 
                "CloudCover": "int"})

In [15]:
df.describe()

,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,Mean Sea Level PressurehPa,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,CloudCover
count,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000,5439.000000
mean,20.260526,14.409818,8.926825,8.728075,5.644420,2.195992,0.255010,0.000184,0.000184,1019.718514,1017.090826,1014.407060,13.624563,10.669241,8.232028,23.084942,9.636146,3.206472
std,8.753309,7.417457,6.553131,4.535521,4.449097,4.661137,0.435907,0.013559,0.013559,6.100091,6.405294,6.888312,7.994198,3.576618,3.038650,10.166694,5.393029,1.808867
min,0.000000,-3.000000,-10.000000,-10.000000,-15.000000,-19.000000,0.000000,0.000000,0.000000,994.000000,986.000000,965.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.000000,8.000000,4.000000,6.000000,3.000000,-1.000000,0.000000,0.000000,0.000000,1016.000000,1014.000000,1011.000000,10.000000,10.000000,7.000000,14.000000,6.000000,2.000000
50%,19.000000,13.000000,9.000000,9.000000,6.000000,2.000000,0.000000,0.000000,0.000000,1020.000000,1017.000000,1015.000000,10.000000,10.000000,10.000000,23.000000,8.000000,3.000000
75%,28.000000,21.000000,14.000000,12.000000,9.000000,6.000000,1.000000,0.000000,0.000000,1023.000000,1021.000000,1019.000000,10.000000,10.000000,10.000000,29.000000,13.000000,5.000000
max,41.000000,32.000000,28.000000,20.000000,16.000000,14.000000,1.000000,1.000000,1.000000,1041.000000,1040.000000,1038.000000,31.000000,31.000000,31.000000,182.000000,39.000000,8.000000

In [16]:
df.dtypes

Date                          datetime64[ns]
Max TemperatureC                       int32
Mean TemperatureC                      int32
Min TemperatureC                       int32
Dew PointC                             int32
MeanDew PointC                         int32
Min DewpointC                          int32
Max Humidity                           int32
Mean Humidity                          int32
Min Humidity                           int32
Max Sea Level PressurehPa              int32
Mean Sea Level PressurehPa             int32
Min Sea Level PressurehPa              int32
Max VisibilityKm                       int32
Mean VisibilityKm                      int32
Min VisibilitykM                       int32
Max Wind SpeedKm/h                     int64
Mean Wind SpeedKm/h                    int64
CloudCover                             int32
dtype: object

In [22]:
df.to_csv("Weather_Madrid_clean.csv", encoding='utf-8')