In [1]:
#Tasks:
#1.import all needed modules
#2.load dataset
#3. drop unneeded columns
#4. change columns names to proper names
#5. change M and F in the sex column to Male and Female
#6. make Age column proper int 
#7. make Time column proper time
#8. make Date column proper date
#9. remove wronge wordings in the Name column
#10. switch the "'" to "m" in the Species column and remove the nan's
#11. Droping the rows with nan's in them
#12. export file

In [2]:
#1. import all needed modules

import numpy as np
import pandas as pd

In [3]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [4]:
#2.load dataset

df = pd.read_csv("GSAF5.csv", encoding = "iso-8859-1")

In [6]:
#3. drop unneeded columns
    #droping the year, Unnamed: 22 and Unnamed: 23 columns cos Year columns is contained in the Date column and the Unnamed: 22 and Unnamed: 23 are practically empty.

    df = df.drop(columns = ["Year", "Unnamed: 22", "Unnamed: 23", "href"])

In [7]:
#4. change columns names to proper names

df = df.rename(columns={"pdf": "Pdf file name", "href formula": "Pdf file download link", "Sex ": "Sex", "Species ": "Species"})

In [8]:
df_c = df.copy()

In [9]:
#5. change M and F in the sex column to Male and Female

df_c.Sex = df_c.Sex.str.replace("M", "Male")
df_c.Sex = df_c.Sex.str.replace("F", "Female")

In [10]:
#6. make Age column proper int 

    #force to numeric type
df_c["Age"] = pd.to_numeric(df_c["Age"], errors = "coerce")
    #replace nan with 0's
df_c["Age"] = df_c["Age"].replace(np.nan, 0)
    #cast type "int" instead of "int"
df_c["Age"] = df_c["Age"].astype("int", errors = "ignore")

In [26]:
#7. convert Time to a proper time format

    #remove all non-numeric characters
df_c["Time"] = df_c["Time"].str.replace("^[^\d]*", "")
    #add the ":"
df_c["Time"] = df_c.Time.str.replace("h", ":")
    #replace nan's with 0's
df_c["Time"] = df_c["Time"].replace(np.nan, 0)
    #cast date time type to the column(not working in this case)
df_c["Time"] = df_c["Time"].astype("datetime64", errors = "ignore")

In [14]:
#8. convert Date to a proper time format
    #remove all non-numeric characters
df_c["Date"] = df_c["Date"].str.replace("^[^\d]*", "")

#Decoding might be an option but it is still not giving us the datetime dtype that we want
#df_c["Date"] = df_c["Date"].apply(lambda x: x.decode("iso-8859-1") if isinstance(x, bytes) else x)

    #replace nsn's with 0's
df_c["Date"] = df_c["Date"].replace(np.nan, 0)
    #cast date time type to the column(not working in this case)
df_c["Date"] = df_c["Date"].astype("datetime64", errors = "ignore")

In [29]:
#9. remove wronge wordings in the Name column

df_c["Name"] = df_c.Name.replace("male", "")
df_c["Name"] = df_c.Name.replace("Unidentified", "")
df_c["Name"] = df_c.Name.replace("Mï¿½", "")

In [31]:
#10. switch the "'" to "m" in the Species column and remove the nan's

df_c["Species"] = df_c.Species.replace("'", "m")
df_c["Species"] = df_c["Species"].replace(np.nan, 0)

In [32]:
#11. Droping the rows with nan's in them.

df_c = df_c.dropna()

In [33]:
df = df_c

In [20]:
#12. export the file to the desired format and save

df_c.to_csv("cleaner_sharkattack.csv")
df_c.to_pickle("cleaner_sharkattack.pkl")